.custom-card {
    background-color: #000000; /* Cambia este color al que desees */
    color: white; /* Cambia el color del texto si es necesario */
    border-radius: 8px; /* Añade bordes redondeados */
}